.main {
    background-color: blue;
    min-height: 100vh;
    min-width: 100vh;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */

}

/* .container-right {
    justify-content: space-between;
} */
h1 {
    position: absolute;
    width: 587px;
    height: 59px;
    left: 23px;
    top: 27px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}